body, html {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 16px;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.main_title_animation {
    animation: main_title_letter_anim;
    animation-duration: .25s;
}

@keyframes main_title_letter_anim {
    from {
        transform: rotateX(-50deg);
    } to {
        transform: rotateX(0);
    }
}